.body{
    -fx-background-image: url("background.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.title{
    -fx-image: url("title.png");
    -fx-position: center;
}

.button0{
    -fx-image: url("button0.png");
    -fx-position: center;
}

.button0:hover{
    -fx-image: url("button0_hover.png");
    -fx-position: center;
}

.button1{
    -fx-image: url("button1.png");
    -fx-position: center;
}

.button1:hover{
    -fx-image: url("button1_hover.png");
    -fx-position: center;
}

.button2{
    -fx-image: url("button2.png");
    -fx-position: center;
}

.button2:hover{
    -fx-image: url("button2_hover.png");
    -fx-position: center;
}

.button3{
    -fx-image: url("button3.png");
    -fx-position: center;
}

.button3:hover{
    -fx-image: url("button3_hover.png");
    -fx-position: center;
}

.button4{
    -fx-image: url("button4.png");
    -fx-position: center;
}

.button4:hover{
    -fx-image: url("button4_hover.png");
    -fx-position: center;
}

.button5{
    -fx-image: url("button5.png");
    -fx-position: center;
}

.button5:hover{
    -fx-image: url("button5_hover.png");
    -fx-position: center;
}

.button6{
    -fx-image: url("button6.png");
    -fx-position: center;
}

.button6:hover{
    -fx-image: url("button6_hover.png");
    -fx-position: center;
}